@import '../../styles/_colors.scss';

/* @define RequiresMetaMask */
.RequiresMetaMask {
  align-items: center;
  background: $light;
  border: 1px solid $light3;
  color: $dark;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 2.8125rem;
  margin: 60px 15%;
  padding: 5% 5% 5% 0;

  &-logo {
    margin: 15px 41px;
    width: 100px;
  }

  &-content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;

    &-button {
      font-weight: 700;
      margin-top: 25px;
      max-width: 280px;
    }
  }
}
