/* @define Bids */
.Bids {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  width: 100%;

  &-form-fieldset-fields {
    justify-content: space-around;
  }

  &-confirm {
    padding: 15px;
    text-align: justify;
  }
}
