@import '../../styles/_colors.scss';

/* @define Button */
.Button {
  // stylelint-disable-next-line declaration-colon-newline-after
  background: $primary;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 $primary;
  cursor: pointer;
  height: 60px;
  min-width: 200px;
  padding: 0 18px;
  text-align: center;

  &.is-disabled {
    background: $disabled;
    box-shadow: none;
    cursor: initial;
  }

  &-label {
    color: $light;
    line-height: 60px;
  }
}
