@import '../../styles/_colors.scss';

/* @define Button */
.Button {
  // stylelint-disable-next-line declaration-colon-newline-after
  background: $primary;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 $primary;
  cursor: pointer;
  height: 40px;
  min-width: 100px;
  padding: 0 18px;
  text-align: center;

  &.is-disabled {
    background: $disabled;
    box-shadow: none;
    cursor: initial;
  }

  &-label {
    color: $light;
    font-size: 14px;
    line-height: 40px;
  }
}
