@import '../../styles/_colors.scss';

/* @define StatBlock */
.StatBlock {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  margin: 46.5px 10px;

  &--withNoLabel {
    background: $light2;
    border-radius: 5px;
    padding: 21px 47px;
  }

  &-value {
    &--withNoLabel {
      margin: 0;
    }
  }
}
