@import '../../styles/_colors.scss';

/* @define StatBlock */
.StatBlock {
  margin: 0 93px 30px 0;

  &--withNoLabel {
    background: $light2;
    border-radius: 5px;
    padding: 21px 47px;
  }

  &-value {
    &--withNoLabel {
      margin: 0;
    }
  }
}
