/* @define StatBlock */
.StatBlock {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  position: relative;

  &--withNoLabel {
    border-radius: 5px;
    padding: 21px 47px;
  }

  &--noFlex {
    flex: initial;
  }

  &-value {
    &--withNoLabel {
      margin: 0;
    }
  }

  &-joyrideTarget {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: -75px;
    width: 100%;
  }
}
