@import '../../styles/_colors.scss';

/* @define PageNotFound */
.PageNotFound {
  height: 100%;

  &-message {
    color: $dark;
    font-size: 40px;
    padding: 70px 50px;
    text-align: center;

    &-errorCode {
      color: $dark4;
      font-size: 60px;
      margin-bottom: 20px;
    }
  }
}
