@import '../styles/_colors.scss';

.joyride {
  &-overlay {
    pointer-events: none !important;
  }

  &-tooltip {
    &__header {
      border-color: $primary !important;
    }

    &__button--primary {
      background: $primary !important;
    }
  }
}
