/* @define SimpleBid */
.SimpleBid {
  padding: 25px 15% 50px;
  text-align: justify;

  &-addressInfo {
    overflow-wrap: break-word;
    text-align: left;

    &-blocks {
      display: flex;
      justify-content: space-evenly;
      margin-top: 24px;
    }
  }
}
