@import '../../styles/_colors.scss';

/* @define Home */
.Home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 20px 40px;
  text-align: center;

  &-form-fieldset-fields {
    justify-content: center;
  }

  &-result {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &-title {
      margin-top: 40px;
    }

    &-options {
      display: flex;
      flex-wrap: wrap;
      max-width: 75%;

      &-option {
        background-color: $light;
        border: 1px solid $light3;
        border-radius: 5px;
        /* stylelint-disable declaration-colon-newline-after, value-list-comma-newline-after  */
        box-shadow: 0 0 6px 0 rgba(71, 82, 93, 0.09),
          0 0 1px 0 rgba(77, 78, 90, 0.08), 0 1px 0 0 rgba(71, 82, 93, 0.09);
        /* stylelint-enable */
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        margin: 17.5px 15px 0;
        max-width: 500px;
        padding: 20px 55px;
      }
    }
  }
}
