@import '../../styles/_colors.scss';

/* @define Slider */
.Slider {
  min-width: 390px;
  padding-top: 5px;
  position: relative;

  &-bar {
    background: $light2;
    height: 15px;
  }

  &-thumb {
    background: $primary;
    height: 25px;
    left: 0%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 5px;
  }

  &-value {
    background: $light;
    left: 0%;
    padding: 5px;
    position: absolute;
    top: 29px;
    transform: translateX(-50%);
  }

  &-labels {
    display: flex;
    justify-content: space-between;
  }
}
